﻿<?xml version="1.0" encoding="utf-8" standalone="no"	?>
	<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<connectionStrings>
		<add name="gsb2021Entities" connectionString="metadata=res://*/gsbBase.csdl|res://*/gsbBase.ssdl|res://*/gsbBase.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=w10sqlexpress;initial catalog=gsb2021;persist security info=True;user id=sqlexpress;password=sqlexpress;encrypt=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<add name="gsbrapportsEntities" connectionString="metadata=res://*/gsbrapports.csdl|res://*/gsbrapports.ssdl|res://*/gsbrapports.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=BERNARD;initial catalog=gsbrapports;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="v11.0" />
			</parameters>
		</defaultConnectionFactory>
	</entityFramework>
</configuration>